In [2]:
import pandas as pd
import numpy as np

In [3]:
clusters = pd.read_csv('clusters.csv')
flows = pd.read_csv('flows.csv')

#### clusters

In [4]:
clusters.head()

   Unnamed: 0                                      geometry    n
0           0   POINT (127.3692431438849 36.35264067625897)  131
1           1   POINT (127.3691087105263 36.36584739473684)   39
2           2  POINT (127.36382319393945 36.35656045454545)  165
3           3  POINT (127.35872946428572 36.35365057142857)   56
4           4  POINT (127.35335435593221 36.35115381355932)   59

In [5]:
clusters.columns

Index(['Unnamed: 0', 'geometry', 'n'], dtype='object')

In [6]:
clusters.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
clusters['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters.geometry]

In [8]:
clusters['lat'] = [x.split(' ')[1] for x in clusters.id]
clusters['long'] = [x.split(' ')[0] for x in clusters.id]

In [9]:
clusters

,geometry,n,id,lat,long
0,POINT (127.3692431438849 36.35264067625897),131,127.3692431438849 36.35264067625897,36.35264067625897,127.3692431438849
1,POINT (127.3691087105263 36.36584739473684),39,127.3691087105263 36.36584739473684,36.36584739473684,127.3691087105263
2,POINT (127.36382319393945 36.35656045454545),165,127.36382319393945 36.35656045454545,36.35656045454545,127.36382319393945
3,POINT (127.35872946428572 36.35365057142857),56,127.35872946428572 36.35365057142857,36.35365057142857,127.35872946428572
4,POINT (127.35335435593221 36.35115381355932),59,127.35335435593221 36.35115381355932,36.35115381355932,127.35335435593221
...,...,...,...,...,...
1156,POINT (127.318341 36.332278),2,127.318341 36.332278,36.332278,127.318341
1157,POINT (127.3181845 36.354749),2,127.3181845 36.354749,36.354749,127.3181845
1158,POINT (127.323525 36.352521),2,127.323525 36.352521,36.352521,127.323525
1159,POINT (127.35725440000002 36.363592600000004),18,127.35725440000002 36.363592600000004,36.363592600000004,127.35725440000002
1160,POINT (127.34307075000001 36.3401105),7,127.34307075000001 36.3401105,36.3401105,127.34307075000001

In [10]:
flows.head()

,Unnamed: 0,geometry,weight,time
0,0,LINESTRING (127.3692431438849 36.3526406762589...,24,2019-11-1 01:00:00
1,1,LINESTRING (127.36382319393945 36.356560454545...,15,2019-11-1 01:00:00
2,2,LINESTRING (127.35872946428572 36.353650571428...,15,2019-11-1 01:00:00
3,3,LINESTRING (127.35335435593221 36.351153813559...,14,2019-11-1 01:00:00
4,4,"LINESTRING (127.3473632 36.35295772941177, 127...",17,2019-11-1 01:00:00

In [11]:
flows.columns

Index(['Unnamed: 0', 'geometry', 'weight', 'time'], dtype='object')

In [12]:
flows.drop(['Unnamed: 0'], axis=1, inplace=True)

In [13]:
flows

,geometry,weight,time
0,LINESTRING (127.3692431438849 36.3526406762589...,24,2019-11-1 01:00:00
1,LINESTRING (127.36382319393945 36.356560454545...,15,2019-11-1 01:00:00
2,LINESTRING (127.35872946428572 36.353650571428...,15,2019-11-1 01:00:00
3,LINESTRING (127.35335435593221 36.351153813559...,14,2019-11-1 01:00:00
4,"LINESTRING (127.3473632 36.35295772941177, 127...",17,2019-11-1 01:00:00
...,...,...,...
3186,"LINESTRING (127.323525 36.352521, 127.3181845 ...",1,2019-11-1 23:59:59
3187,LINESTRING (127.34751800000001 36.359623571428...,1,2019-11-1 23:59:59
3188,LINESTRING (127.36958441176469 36.334470500000...,1,2019-11-1 23:59:59
3189,LINESTRING (127.3642952195122 36.3546842804878...,1,2019-11-1 23:59:59
3190,"LINESTRING (127.34820421428574 36.355927, 127....",1,2019-11-1 23:59:59

In [14]:
flows['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows['geometry']]
flows['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows['geometry']]

In [15]:
flows

,geometry,weight,time,origin,dest
0,LINESTRING (127.3692431438849 36.3526406762589...,24,2019-11-1 01:00:00,127.3692431438849 36.35264067625897,127.36382319393945 36.35656045454545
1,LINESTRING (127.36382319393945 36.356560454545...,15,2019-11-1 01:00:00,127.36382319393945 36.35656045454545,127.35872946428572 36.35365057142857
2,LINESTRING (127.35872946428572 36.353650571428...,15,2019-11-1 01:00:00,127.35872946428572 36.35365057142857,127.35335435593221 36.35115381355932
3,LINESTRING (127.35335435593221 36.351153813559...,14,2019-11-1 01:00:00,127.35335435593221 36.35115381355932,127.3473632 36.35295772941177
4,"LINESTRING (127.3473632 36.35295772941177, 127...",17,2019-11-1 01:00:00,127.3473632 36.35295772941177,127.34129909629631 36.35473077777777
...,...,...,...,...,...
3186,"LINESTRING (127.323525 36.352521, 127.3181845 ...",1,2019-11-1 23:59:59,127.323525 36.352521,127.3181845 36.354749
3187,LINESTRING (127.34751800000001 36.359623571428...,1,2019-11-1 23:59:59,127.34751800000001 36.35962357142857,127.34766579166666 36.352348291666665
3188,LINESTRING (127.36958441176469 36.334470500000...,1,2019-11-1 23:59:59,127.36958441176469 36.33447050000001,127.3693581919191 36.35781365656566
3189,LINESTRING (127.3642952195122 36.3546842804878...,1,2019-11-1 23:59:59,127.3642952195122 36.35468428048782,127.3691528571429 36.34617781318681
3190,"LINESTRING (127.34820421428574 36.355927, 127....",1,2019-11-1 23:59:59,127.34820421428574 36.355927,127.34766579166666 36.352348291666665

In [17]:
clusters.to_csv("locations.csv")
flows.to_csv("flows.csv")